[Desktop Entry]
Type=Application
Name=Picom v13 Effects
Comment=Window animations and compositing while XFWM manages windows
Exec=sh -c "exec systemd-run --user --unit=picom-effects --collect \"\\$HOME/.local/bin/start-picom-effects\""
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=false
Terminal=false
