[Desktop Entry]
Type=Application
Name=Animated Wallpaper + XFCE Desktop Icons
Exec=sh -c "exec \"\\$HOME/.local/bin/start-animated-wallpaper-with-xfdesktop-icons\""
Terminal=false
X-GNOME-Autostart-enabled=true
